body,html{
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
/*********************************父元素：背景墙******************************/
#fa{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("../img/bgImg2.png");
}
/*********************************子元素：内容*******************************/
#so {
    background: rgba(255,255,255,0);
    position: absolute;
    width: 80%;
    height: 90%;
    top: 43%;
    left: 50% ;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px #000;
}
/*********************上导航***********************/
header{
    width: 100%;
    height: 10%;
    background: rgba(0,0,0,0.8);
    color:#ddd;
    text-align: center;
    line-height: 100%;
    position: relative;
}
header>div{
    float: left;
    position: absolute;
    top: 45%;left:45%;
    font-size: 28px;
    font-weight: bold;
}
header>#wel{
    width:80%;
    height:100%;
    font-size: 30px;
    text-align: center;
}
header>#navContorl{
    width:20%;
    height:100%;
    text-align: center;
    font-size: 30px;
    border-right:2px solid #ddd;
}
/*!********************正文************************!*/
section{
    width: 100%;
    height:90%;
}
::-webkit-scrollbar {
    display: none;
}

/************导航*****************/
#myNav{
    float: left;
    width: 15%;
    height:100%;
    overflow-y:scroll;
    border:1px solid #ddd;
    box-shadow: 2px 2px 5px;
    background: rgba(0,0,0,0.8);
}
.navShow{
    background: rgba(0,0,0,0.8);
}
#myNav a[data-toggle="tab"]{
    color:#999999;
}
#my-group div[data-toggle] {
    font-weight: bold;
}
#my-group .panel-body{
    padding:0;
}
#wangcai p,#yunkong p,#xiaojin p,#tongyong p{
    border:1px solid #ddd;
    padding:10px 10px;
    margin:0;
}
#wangcai a,#yunkong a,#xiaojin a,#tongyong a{
    display: block;
    margin: 0;
}
#wangcai p{
    background: #fcf8e3;
}
#yunkong p{
    background: #f2dede;
}
#xiaojin p{
    background: #dff0d8;
}
#tongyong p{
    background: #337ab7;
}
/*************正文*************/
#myContent{
    float:left;
    width: 79%;
    height:100%;
    background: rgba(255,255,255,0.5);
}
#myContent>div{
    overflow-y: scroll;
    height:101%;
}
#coverPa{
    /*position: relative;*/
}
#coverPa div{
    /*position: absolute;*/
    margin-top:15%;
    margin-left:25%;
    font-size: 4em;
}
#wangcai1 table{
    /*background: #e9aea2;*/
}
#wangcai1 td{
    margin:auto;
    padding: 20px 50px;
}
#wangcai2 td{
    margin:auto;
    padding: 20px 50px;
}
#yunkong1 td{
    margin:auto;
    padding: 15px 50px;
}
#yunkong1 label{
    display: block;
    margin:2% 0;
}
#yunkong1 label span{
    display:block;
}
#tongyong1 #showIdCards{
    margin:auto ;
}
#tongyong1 th,#tongyong1 td{
    border:2px solid #000;
    margin:auto;
    padding: 30px 100px;
}
#tongyong2 th,#tongyong2 td{
    border:2px solid #000;
    margin:auto;
    padding: 30px 100px;
}
#myContent .instuction{
    margin-top:20%;
    margin-left:50%;
    width:50%;
    height:30%;
    color:#5e5e5e;
    background-image: url("../img/qipao1.png");
    background-repeat: no-repeat;
    padding:10% 10%;
}
/******************右菜单***************/
#myMenu{
    /*border: 1px solid #ddd;*/
    width:6%;
    height:100%;
    float:left;
    padding:15% 0;
    background: rgba(255,255,255,0.5);
}
#myMenu>div{
    background:rgba(0,0,0,0.8);
    height:30px;
    color:#ddd;
    text-align: center;
    line-height: 30px;
    margin-top: 8%;
    border-radius: 20px;
}
#myMenu a{
    color:#ddd;
    font-weight: bold;
}
/******************底部栏***************/
footer>div{
    font-size: 22px;
    font-weight: bold;
    margin-top:3%;
    margin-left:40%;
}

